<div class="row">
    <div class="col-xs-12">
        <div class="text-center pt-5">
            <img src="assets/email_confirmation.jpg" alt="Description of image">
        </div>
        <div>
            <header class="h3 text-center pt-4 pb-2">Thank You For Your Registration</header>
            <p class="text-muted text-center">
                We have send you a confirmation email with additional details to your id {{ email }}.
            </p>
            <!-- <p class="text-muted text-center">
                We will contact you on your mobile at {{ mobile }} to confirm the demo class.
            </p> -->
        </div>
    </div>
</div>
