<div class="container">
    <div class="row">
      <div class="col-md-12" id="eheader">
          <h3>eHindishala</h3>
          <p id="pid">Lets Learn Hindi Together !!</p>
      </div>  
    </div>
    <div class="row" id="emptydiv">
      <div class="col-md-12">

      </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <app-register (customEvent)="onFormSubmitted($event)"></app-register>
        </div>
        <div class="col-md-6">
          <div *ngIf="displayMessage">
            <app-acknowledge [name]="name" [email]="email" [mobile]="mobile" ></app-acknowledge>
          </div>
        </div>
    </div>
</div>