<div class="row box-shadow shadow-lg rounded">
    <div class="col-xs-12">
        <header class="pt-3"><h3 class="text-center">Sign up for a FREE trial class</h3></header>
        <p class="text-center pb-3">Limited seats only !</p>
        <form [formGroup]="form" (ngSubmit)="onSubmit()" novalidate>
            <div class="form-group">
              <div class="row"> 
                    <div class="col-6">
                        <input type="text" class="form-control" id="name" formControlName="name" placeholder="Your Child Name" #nameRef>
                        <div *ngIf="f.name.invalid && f.name.touched" class="error">
                            <p class="fs">Please provide your child name (atleast 3 characters)</p>
                        </div>
                    </div>    
                <div class="col-6">
                    <select class="form-select" name="grade" id="">
                          <option selected>Select Your Child's Grade</option>
                          <option value="1">Grade 1</option>
                          <option value="2">Grade 2</option>
                          <option value="3">Grade 3</option>
                          <option value="4">Grade 4</option>
                          <option value="5">Grade 5</option>
                          <option value="6">Grade 6</option>
                          <option value="7">Grade 7</option>
                          <option value="8">Grade 8</option>
                          <option value="9">Grade 9</option>
                          <option value="10">Grade 10</option>
                    </select>
                </div>
              </div> 
              <div class="row pt-4"> 
                <div class="col-12">
                    <input type="text" class="form-control" id="mobile" formControlName="mobile" placeholder="Your Mobile Number" #mobileRef>
                      <div *ngIf="f.mobile.touched && f.mobile.invalid" class="error">
                        <p class="fs">Please provide your valid mobile number</p>
                      </div>
                </div>    
              </div> 
              <div class="row pt-4"> 
                <div class="col-12">
                    <div class="form-group">
                        <input type="text" class="form-control" id="email" formControlName="email" placeholder="Your Email Address" #emailRef>
                        <div *ngIf="form.get('email')?.invalid && form.get('email')?.touched" class="error">
                            <p class="fs">Please provide your valid email id</p>
                        </div>
                    </div>
                </div> 
              </div>
             
              <div class="row pt-4"> 
                <div class="col-12">
                    <select class="form-select" name="country" id="">
                          <option selected>Select Your Country</option>
                          <option value="1">United States</option>
                          <option value="2">United Kingdom</option>
                          <option value="3">United Arab Emirates</option>
                          <option value="4">Saudi Arabia</option>
                          <option value="5">Kuwait</option>
                          <option value="6">Oman</option>
                          <option value="7">Qatar</option>
                          <option value="8">Singapore</option>
                          <option value="9">Bahrain</option>
                          <option value="10">Australia</option>
                    </select>
                </div>
              </div> 
            </div>
            <div class="row pt-5 pb-4 text-center"> 
                <div class="col-12">
                    <button type="button" 
                    [disabled]="form.invalid" 
                    class="btn btn-primary btn-lg"
                    (click)="onFormSubmit(nameRef,mobileRef,emailRef)">Book Your Free Class</button>
                </div>
            </div>
          </form>
    </div>
</div>